{% extends "base_site.html" %}

{% load static %}
{% block extrastyle %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'highcharts/code/highstock.js' %}"></script>
    <script type="text/javascript" src="{% static 'highcharts/code/modules/data.js' %}"></script>
    <script type="text/javascript" src="{% static 'highcharts/code/modules/exporting.js' %}"></script>
    <script type="text/javascript" src="{% static 'highcharts/code/modules/export-data.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'highcharts/code/themes/dark-unica.js' %}"></script>#}
{% endblock extrastyle %}

{% block content %}

<div class="page-title-holder d-flex align-items-center">
    <h1 class="page-title">Devices Data</h1>
</div>

<div class="accordion" id="accordionFilter">
    <div class="card">
        <div class="card-header" id="headingDevice">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseDevice" aria-expanded="true" aria-controls="collapseDevice">
                    <i class="fas fa-filter"></i> Device choice <span class="badge badge-pill badge-success">ready</span>
                </button>
            </h2>
        </div>

        <div id="collapseDevice" class="collapse" aria-labelledby="headingDevice" data-parent="#accordionFilter">
            <div class="card-body d-flex flex-row align-items-center">
                <div class="d-flex flex-column flex-fill">
                    <form id="deviceFilter" action="{% url 'devicedata:filter_devices' %}" method="Post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="deviceFilterInput" class="col-form-label">Device name like</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="deviceFilterInput">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deviceDTypeFilterInput" class="col-form-label">Device type like</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="deviceDTypeFilterInput">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deviceCommentFilterInput" class="col-form-label">Device comment like</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="deviceCommentFilterInput">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" id="refreshDevicesBtn" class="btn btn-lg btn-info"><i class="fas fa-redo-alt"></i> Refresh devices list</button>
                        </div>
                    </form>
                </div>
                <div class="d-flex flex-fill justify-content-between" id="devicesAndChosen">
                    <div class="d-flex flex-column flex-fill">
                        <label for="deviceFilterDevices" class="col-form-label">Devices</label>
                        <div>
                            <select class="custom-select" id="deviceFilterDevices" size="8" multiple>
                                {% for device in devices %}
                                    <option value="{{ device.id }}">{{ device.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="d-flex flex-column filter-buttons">
                        <br>
                        <br>
                        <button type="button" class="btn add-device btn-lg btn-outline-secondary"><i class="fas fa-long-arrow-alt-right"></i></button>
                        <br>
                        <br>
                        <br>
                        <button type="button" class="btn remove-device btn-lg btn-outline-secondary"><i class="fas fa-long-arrow-alt-left"></i></button>
                    </div>
                    <div class="d-flex flex-column flex-fill">
                        <label for="deviceFilterChosen" class="col-form-label">Chosen</label>
                        <div>
                            <select class="custom-select" id="deviceFilterChosen" size="8" multiple>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingRegister">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseRegister" aria-expanded="false" aria-controls="collapseRegister">
                <i class="fas fa-filter"></i> Register choice <span class="badge badge-pill badge-success">ready</span>
                </button>
            </h2>
        </div>
        <div id="collapseRegister" class="collapse" aria-labelledby="headingRegister" data-parent="#accordionFilter">
            <div class="card-body d-flex flex-row align-items-center">
                <div class="d-flex flex-column flex-fill">
                    <form id="registerFilter" action="{% url 'devicedata:filter_registers' %}">
                        <div class="form-group">
                            <label for="registerFilterInput" class="col-form-label">Register name like</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="registerFilterInput">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="registerDTypeFilterInput" class="col-form-label">Device type like</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="registerDTypeFilterInput">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="registerCommentFilterInput" class="col-form-label">Register comment like</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="registerCommentFilterInput">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" id="refreshRegistersBtn" class="btn btn-lg btn-info"><i class="fas fa-redo-alt"></i> Refresh registers list</button>
                        </div>
                    </form>
                </div>
                <div class="d-flex flex-fill flex-column" id="registersAndChosen">
                    <div class="d-flex flex-row justify-content-between">
                        <div class="d-flex flex-column flex-fill">
                            <label for="registerFilterRegisters" class="col-form-label">Registers</label>
                            <div>
                                <select class="custom-select" id="registerFilterRegisters" size="8" style="overflow-x: auto;" multiple>
                                </select>
                            </div>
                        </div>
                        <div class="d-flex flex-column filter-buttons">
                            <br>
                            <br>
                            <button type="button" class="btn add-register btn-lg btn-outline-secondary"><i class="fas fa-long-arrow-alt-right"></i></button>
                            <br>
                            <br>
                            <br>
                            <button type="button" class="btn remove-register btn-lg btn-outline-secondary"><i class="fas fa-long-arrow-alt-left"></i></button>
                        </div>
                        <div class="d-flex flex-column flex-fill">
                            <label for="registerFilterChosen" class="col-form-label">Chosen</label>
                            <div>
                                <select class="custom-select" id="registerFilterChosen" size="8" style="overflow-x: auto;" multiple>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-row p-3 align-items-center">
                        <label for="modifierAdditive" class="col-form-label">Additive: </label>
                        <div class="col-3">
                            <input type="number" class="form-control" id="modifierAdditive" value="0">
                        </div>
                        <label for="modifierCoefficient" class="col-form-label">Coefficient: </label>
                        <div class="col-3">
                            <input type="number" class="form-control" id="modifierCoefficient" value="1">
                        </div>
                        <label for="modifierMask" class="col-form-label">Mask: </label>
                        <div class="col-3">
                            <input type="number" class="form-control" id="modifierMask" value="">
                        </div>
                    </div>
                    <div class="d-flex flex-row flex-fill justify-content-end">
                        <input type="button" class="btn btn-primary" id="applyModification" value="Apply modifications to chosen">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingInterval">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseInterval" aria-expanded="false" aria-controls="collapseInterval">
                <i class="fas fa-filter"></i> Time interval choice <span class="badge badge-pill badge-success">ready</span>
                </button>
            </h2>
        </div>
        <div id="collapseInterval" class="collapse" aria-labelledby="headingInterval" data-parent="#accordionFilter">
            <div class="card-body d-flex flex-column">
                <form id="timeFilter">
                    <div class="form-group">
                        <label for="filterFrom" class="col-form-label">From</label>
                        <div class="col-md-4 col-8">
                            <input type="datetime-local" class="form-control" id="filterFrom">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="filterTo" class="col-form-label">To</label>
                        <div class="col-md-4 col-8">
                            <input type="datetime-local" class="form-control" id="filterTo">
                        </div>
                    </div>

                    <label for="filterIntervalNumber" class="col-form-label">Interval</label>
                    <div class="form-group input-group mb-3 col-md-4 col-6">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Last</span>
                        </div>
                        <input type="number" class="form-control" id="filterIntervalNumber" value="1">
                        <div class="input-group-append">
                            <select class="custom-select" id="filterIntervalUnits" aria-label="Units">
                                <option value="1440" selected>days</option>
                                <option value="60">hours</option>
                                <option value="1">minutes</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingRefreshData">
            <h2 class="mb-0">
                <button class="btn btn-block text-left collapsed btn-primary" type="button" data-toggle="collapse" data-target="#collapseNone" aria-expanded="false" aria-controls="collapseNone">
                <i class="fas fa-redo-alt"></i> Refresh data
                </button>
            </h2>
        </div>
        <div id="collapseNone" class="collapse" aria-labelledby="headingNone" data-parent="#accordionFilter">
        </div>
    </div>
</div>

<div class="" id="dataHolder">
    <ul class="nav nav-tabs" id="dataTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="dataTableTab" data-toggle="tab" href="#dataTable" role="tab" aria-controls="dataTable" aria-selected="true">Data</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="dataGraphTab" data-toggle="tab" href="#dataGraph" role="tab" aria-controls="dataGraph" aria-selected="false">Graph</a>
        </li>
    </ul>
    <div class="tab-content" id="dataTabsContent">
        <div class="tab-pane fade show active" id="dataTable" role="tabpanel" aria-labelledby="dataTableTab">
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="dataGraph" role="tabpanel" aria-labelledby="dataGraphTab">
            <div id="graphContainer" style="width:100%; height:600px"></div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extrajs %}
    {{ block.super }}
    <script>

        let chart;
        let chartSeries = [];

        let csrftoken = Cookies.get('csrftoken');

        $('#navbarNav li').removeClass('active')
        $('#navbarNav li:nth-child(4)').toggleClass('active')

        $('#accordionFilter').on('show.bs.collapse', function (event) {
            let span = $(event.target.parentElement).find('.card-header span')
            span.removeClass('badge-success')
            span.toggleClass('badge-warning')
            span.text('editing...')
        }).on('hide.bs.collapse', function (event) {
            let span = $(event.target.parentElement).find('.card-header span')
            span.removeClass('badge-warning')
            span.toggleClass('badge-success')
            span.text('ready')
        })

        $('#devicesAndChosen button.add-device').on('click', function () {
            let changed = false
            $('#deviceFilterDevices option:selected').each(function () {
                let id = $(this).attr('value')
                if ($('#deviceFilterChosen option[value=' + id + ']').length < 1) {
                    let copy = $(this).clone()
                    copy.appendTo('#deviceFilterChosen')
                    changed = true
                }
            })
            if (changed) {
                $('#deviceFilterChosen').trigger("change-element")
            }
        })

        $('#devicesAndChosen button.remove-device').on('click', function () {
            let changed = false
            $('#deviceFilterChosen option:selected').each(function () {
                $(this).remove()
                changed = true
            })
            if (changed) {
                $('#deviceFilterChosen').trigger("change-element")
            }
        })

        $('#registersAndChosen button.add-register').on('click', function () {
            $('#registerFilterRegisters option:selected').each(function () {
                let id = $(this).attr('value')
                let additive = $('#modifierAdditive').val()
                if (!additive) {
                    additive = 0
                }
                let coefficient = $('#modifierCoefficient').val()
                if (!coefficient) {
                    coefficient = 1
                }
                let mask = $('#modifierMask').val()
                if (!mask) {
                    mask = null
                }
                let text = $(this).text()
                let list_opt = $('#registerFilterChosen option[value=' + id + ']').filter(function (index, element) {
                    return $(element).text() === (text + ' ' + '[' + additive + ';' + coefficient + ';' + mask + ']')
                })
                if (list_opt.length < 1) {
                    let copy = $(this).clone()
                    copy.text(copy.text() + ' ' + '[' + additive + ';' + coefficient + ';' + mask + ']')
                    copy.attr('data-additive', additive)
                    copy.attr('data-coefficient', coefficient)
                    copy.attr('data-mask', mask)
                    copy.appendTo('#registerFilterChosen')
                }
            })
        })

        $('#applyModification').on('click', function () {
            let additive = $('#modifierAdditive').val()
            if (!additive) {
                additive = 0
            }
            let coefficient = $('#modifierCoefficient').val()
            if (!coefficient) {
                coefficient = 1
            }
            let mask = $('#modifierMask').val()
            if (!mask) {
                mask = null
            }
            $('#registerFilterChosen option:selected').each(function () {
                $(this).attr('data-additive', additive)
                $(this).attr('data-coefficient', coefficient)
                $(this).attr('data-mask', mask)
                let id = $(this).val()
                let text = $(this).text()
                text = text.split('[')[0] + '[' + additive + ';' + coefficient + ';' + mask + ']'
                $(this).text(text)
                if ($('#registerFilterChosen option[value="' + id + '"][data-additive="' + additive + '"][data-coefficient="' + coefficient + '"][data-mask="' + mask + '"]').length > 1) {
                    $(this).remove()
                }
            })
        })

        $('#registersAndChosen button.remove-register').on('click', function () {
            $('#registerFilterChosen option:selected').each(function () {
                $(this).remove()
            })
        })

        $('#deviceFilterChosen').on('change-element', updateRegisterList)

        $('#refreshRegistersBtn').on('click', updateRegisterList)

        function updateRegisterList() {
            let form = $('#registerFilter')
            let register_name = form.find('#registerFilterInput').val()
            let device_type = form.find('#registerDTypeFilterInput').val()
            let register_comment = form.find('#registerCommentFilterInput').val()
            let url = form.attr('action')
            let devices = $('#deviceFilterChosen option').map(function (i, el) {  return $(el).attr('value')}).get()
            $.post(url, {devices: devices, name: register_name, type: device_type, comment: register_comment, csrfmiddlewaretoken: csrftoken}, function (data) {
                $('#registerFilterRegisters option').remove()
                if (data['registers'] && data['registers'].length > 0) {
                    data['registers'].forEach((element) => {
                        let option = document.createElement("option")
                        option.innerHTML = element['name']
                        option.setAttribute('value', element['id'])
                        $('#registerFilterRegisters').append(option)
                    })
                }
            })
        }

        $('#refreshDevicesBtn').on('click', function () {
            let form = $('#deviceFilter')
            let device_name = form.find('#deviceFilterInput').val()
            let device_type = form.find('#deviceDTypeFilterInput').val()
            let device_comment = form.find('#deviceCommentFilterInput').val()
            let url = form.attr('action')
            $.post(url, {name: device_name, type: device_type, comment: device_comment, csrfmiddlewaretoken: csrftoken}, function (data) {
                $('#deviceFilterDevices option').remove()
                if (data['devices'] && data['devices'].length > 0) {
                    data['devices'].forEach((element) => {
                        let option = document.createElement("option")
                        option.innerHTML = element['name']
                        option.setAttribute('value', element['id'])
                        $('#deviceFilterDevices').append(option)
                    })
                }
            })
        })

        $('#headingRefreshData button').on('click', refreshData)

        function refreshData() {
            let url = '{% url 'devicedata:filter_data' %}'
            let devices = $('#deviceFilterChosen option').map(function (i, el) {  return $(el).attr('value')}).get()
            let registers = $('#registerFilterChosen option').map(function (i, el) {
                return {'id': $(el).attr('value'),
                    'additive': $(el).attr('data-additive'),
                    'coefficient': $(el).attr('data-coefficient'),
                    'mask': $(el).attr('data-mask')}}
            ).get()
            let time_from = $('#filterFrom').val()
            let time_to = $('#filterTo').val()
            /* interval in minutes */
            let filter_number = $('#filterIntervalNumber').val()
            if (!filter_number) {
                filter_number = 0
            }
            let interval = filter_number * $('#filterIntervalUnits option:selected').attr('value')
            $.post(url, {devices: devices, registers: JSON.stringify(registers), time_from: time_from, time_to: time_to, interval: interval, csrfmiddlewaretoken: csrftoken}, function (data) {
                $('#dataTable div').remove()
                chartSeries = []
                if (data['data'] && data['data'].length > 0) {
                    data['data'].forEach((element) => {
                        if (element['registers'] && element['registers'].length > 1) {
                            let div = document.createElement("div")
                            let html_text = "<br>\n" +
                                "                <h5>" + element['device_name'] + " data</h5>\n" +
                                "            <div class=\"table-responsive\"\n>" +
                                "                <table class=\"table table-sm\">\n" +
                                "                    <thead>\n" +
                                "                        <tr>\n"
                            for (let i = -1; i < element['registers'][0]['points'].length; i++) {
                                for (let j = 0; j < element['registers'].length; j++) {
                                    if (i === -1) {
                                        html_text += "<th scope=\"col\">" + element['registers'][j]['name'] + "</th>\n"
                                    } else {
                                        if (j === 0) {
                                            html_text += "<tr>" +
                                                "<th>" + element['registers'][j]['points'][i].replace('T', ' ') + "</th>\n"
                                        } else {
                                            html_text += "<td>" + element['registers'][j]['points'][i] + "</td>\n"
                                        }
                                        if (j === element['registers'].length - 1) {
                                            html_text += "</tr>\n"
                                        }
                                    }

                                }
                                if (i === -1) {
                                    html_text += "                        </tr>\n" +
                                        "                    </thead>\n" +
                                        "                    <tbody>\n"
                                }
                            }
                            html_text += "                    </tbody>\n" +
                                "                </table>\n" +
                                "            </div>\n"
                            div.innerHTML = html_text
                            $('#dataTable').append(div)

                            for (let j = 1; j < element['registers'].length; j++) {
                                let series = {}
                                series['name'] = element['device_name'] + ' ' + element['registers'][j]['name']
                                series['tooltip'] = {valueDecimals: 2}
                                series['data'] = []
                                for (let i = 0; i < element['registers'][0]['points'].length; i++) {
                                    let date = Date.parse(element['registers'][0]['points'][i] + "+00:00")
                                    series['data'].push([date, element['registers'][j]['points'][i]])
                                }
                                chartSeries.push(series)
                            }

                        }
                    })
                }
                Highcharts.stockChart('graphContainer', {
                    rangeSelector: {
                        selected: 1
                    },
                    title: {
                        text: 'Devices data'
                    },
                    legend: {
                        enabled: true
                    },
                    series: chartSeries
                });
            })
        }

    </script>
{% endblock extrajs %}