{% extends "base_site.html" %}

{% load static %}
{% block extrastyle %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'highcharts/code/highstock.js' %}"></script>
    <script type="text/javascript" src="{% static 'highcharts/code/modules/data.js' %}"></script>
    <script type="text/javascript" src="{% static 'highcharts/code/modules/exporting.js' %}"></script>
    <script type="text/javascript" src="{% static 'highcharts/code/modules/export-data.js' %}"></script>
{#    <script type="text/javascript" src="{% static 'highcharts/code/themes/dark-unica.js' %}"></script>#}
{% endblock extrastyle %}

{% block content %}

<div class="page-title-holder d-flex align-items-center">
    <h1 class="page-title">Devices Data</h1>
</div>

<div class="accordion" id="accordionFilter">
    <div class="card">
        <div class="card-header" id="headingPrepCharts">
            <h3 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapsePrepCharts" aria-expanded="true" aria-controls="collapsePrepCharts">
                    <i class="fas fa-filter"></i> Prepared charts choice
                </button>
            </h3>
        </div>

        <div id="collapsePrepCharts" class="collapse" aria-labelledby="headingPrepCharts" data-parent="#accordionFilter">
            <div class="card-body d-flex flex-row" style="height: 500px; overflow: auto;">
                <table class="table table-striped table-hover table-secondary" id="preparedChartsTable">
                    <thead class="">
                        <tr>
                            <th scope="col"></th>
                            <th scope="col">Chart name</th>
                            <th scope="col">Chart details</th>
                            <th scope="col">Select</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if charts %}
                            {% for chart in charts %}
                            <tr class="">
                                <th scope="row">
                                    <button type="button" class="btn btn-sm btn-info chart-details" data-chartid="{{ chart.id }}"><span class="fas fa-angle-right"></span></button>
                                </th>
                                <td>{{ chart.name }}</td>
                                <td>{{ chart.description }}</td>
                                <td><button type="button" class="btn btn-sm btn-primary chart-select" data-chartid="{{ chart.id }}"><span class="fas fa-plus"></span></button></td>
                            </tr>
                            <tr hidden>
                                <td colspan="4">
                                    <table class="table table-striped table-hover table-light">
                                        <thead class="">
                                            <tr>
                                                <th scope="col">Series name</th>
                                                <th scope="col">Register</th>
                                                <th scope="col">Modification</th>
                                                <th scope="col">Select</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for series in chart.chartcontent_set.all %}
                                            <tr>
                                                <th scope="row">
                                                    {% if series.name %}
                                                        {{ series.name }}
                                                    {% endif %}
                                                </th>
                                                <td>{{ series.device.name }}-{{ series.register.name }}</td>
                                                <td>[{{ series.additive }};{{ series.coefficient }};{% if series.check_mask %}{{ series.check_mask }}{% else %}null{% endif %}]</td>
                                                <td>
                                                    <button type="button" class="btn btn-sm btn-primary series-select"
                                                            data-seriesid="{{ series.id }}"
                                                            data-deviceid="{{ series.device.id }}"
                                                            data-registerid="{{ series.register.id }}"
                                                            data-seriesname="{% if series.name %}{{ series.name }}{% endif %}"
                                                            data-register="{{ series.device.name }}-{{ series.register.name }}"
                                                            data-additive="{{ series.additive }}"
                                                            data-coefficient="{{ series.coefficient }}"
                                                            data-mask="{% if series.check_mask %}{{ series.check_mask }}{% else %}null{% endif %}">
                                                        <span class="fas fa-plus"></span>
                                                    </button>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingInterval">
            <h3 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseInterval" aria-expanded="false" aria-controls="collapseInterval">
                <i class="fas fa-filter"></i> Time interval choice / result series list
                </button>
            </h3>
        </div>
        <div id="collapseInterval" class="collapse" aria-labelledby="headingInterval" data-parent="#accordionFilter">
            <div class="card-body d-flex flex-column">
                <form id="timeFilter" class="row">
                    <div class="form-group">
                        <label for="filterFrom" class="col-form-label">From</label>
                        <div class="col-auto">
                            <input type="datetime-local" class="form-control" id="filterFrom">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="filterTo" class="col-form-label">To</label>
                        <div class="col-auto">
                            <input type="datetime-local" class="form-control" id="filterTo">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="filterIntervalNumber" class="col-form-label">Interval</label>
                        <div class="form-group input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Last</span>
                            </div>
                            <input type="number" class="form-control" id="filterIntervalNumber" value="1">
                            <div class="input-group-append">
                                <select class="custom-select" id="filterIntervalUnits" aria-label="Units">
                                    <option value="1440" selected>days</option>
                                    <option value="60">hours</option>
                                    <option value="1">minutes</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="d-flex flex-row" style="height: 500px; overflow: auto;">
                    <table class="table table-striped table-hover table-secondary" id="seriesTable">
                        <thead class="">
                            <tr>
                                <th scope="col">
                                    <button type="button" class="btn btn-sm btn-primary" data-modaltype="add" data-toggle="modal" data-target="#chooseRegister"><span class="fas fa-plus"></span></button>
                                </th>
                                <th scope="col">Series name</th>
                                <th scope="col">Register</th>
                                <th scope="col">Modification</th>
                                <th scope="col">Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr hidden>
                                <th scope="row">
                                    <button type="button" class="btn btn-sm btn-info" data-modaltype="modify" data-toggle="modal" data-target="#chooseRegister"><span class="fas fa-sliders-h"></span></button>
                                </th>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>
                                    <button type="button" class="btn btn-sm btn-danger delete-series"><span class="fas fa-times"></span></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
{#                <div class="d-flex flex-row flex-fill justify-content-end">#}
{#                    <div class="form-group form-inline">#}
{#                        <label for="chartNameToSave" class="col-form-label">Save as </label>#}
{#                        <input type="text" class="form-control m-2" id="chartNameToSave">#}
{#                        <input type="button" class="btn btn-primary" id="updateChartUnit" value="Save to chart list">#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-header" id="headingRefreshData">
            <h3 class="mb-0">
                <button class="btn btn-block text-left collapsed btn-primary" type="button" data-toggle="collapse" data-target="#collapseNone" aria-expanded="false" aria-controls="collapseNone">
                <i class="fas fa-redo-alt"></i> Refresh data
                </button>
            </h3>
        </div>
        <div id="collapseNone" class="collapse" aria-labelledby="headingNone" data-parent="#accordionFilter">
        </div>
    </div>
</div>

<div class="" id="dataHolder">
    <ul class="nav nav-tabs" id="dataTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <a class="nav-link active" id="dataTableTab" data-toggle="tab" href="#dataTable" role="tab" aria-controls="dataTable" aria-selected="true">Data</a>
        </li>
        <li class="nav-item" role="presentation">
            <a class="nav-link" id="dataGraphTab" data-toggle="tab" href="#dataGraph" role="tab" aria-controls="dataGraph" aria-selected="false">Graph</a>
        </li>
    </ul>
    <div class="tab-content" id="dataTabsContent">
        <div class="tab-pane fade show active" id="dataTable" role="tabpanel" aria-labelledby="dataTableTab">
            <div class="table-responsive">
                <table class="table table-sm">
                    <thead>
                        <tr>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="tab-pane fade" id="dataGraph" role="tabpanel" aria-labelledby="dataGraphTab">
            <div id="graphContainer" style="width:100%; height:700px"></div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="chooseRegister" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="chooseRegisterLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chooseRegisterLabel">Register choice</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="d-flex flex-row" style="height: 500px; overflow: auto;">
                    <table class="table table-hover table-secondary" id="registerTable">
                        <thead class="">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Device name</th>
                                <th scope="col">Device type</th>
                                <th scope="col">Device comment</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% if devices %}
                            {% for device in devices %}
                            <tr class="">
                                <th scope="row">
                                    <button type="button" class="btn btn-sm btn-info chart-details" data-chartid="{{ device.id }}"><span class="fas fa-angle-right"></span></button>
                                </th>
                                <td>{{ device.name }}</td>
                                <td>{{ device.type.name }}</td>
                                <td>{{ device.comment }}</td>
                            </tr>
                            <tr hidden>
                                <td colspan="4">
                                    <table class="table table-striped table-hover table-light">
                                        <thead class="">
                                            <tr>
                                                <th scope="col">#</th>
                                                <th scope="col">Register name</th>
                                                <th scope="col">Register comment</th>
                                                <th scope="col">Select</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% for register in device.type.devicetyperegister_set.all %}
                                            <tr>
                                                <th scope="row">{{ register.id }}</th>
                                                <td>{{ register.name }}</td>
                                                <td>{{ register.comment }}</td>
                                                <td><button type="button" class="btn btn-sm btn-primary register-select"  data-deviceid="{{ device.id }}" data-devicename="{{ device.name }}" data-registerid="{{ register.id }}" data-registername="{{ register.name }}"><span class="fas fa-plus"></span></button></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="form-group col-6">
                        <label for="modalRegisterName" class="col-form-label">Register: </label>
                        <input type="text" class="form-control" id="modalRegisterName" value="" disabled>
                    </div>
                    <div class="form-group col-6">
                        <label for="modalSeriesName" class="col-form-label">Series name: </label>
                        <input type="text" class="form-control" id="modalSeriesName" value="">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-4">
                        <label for="modalModifierAdditive" class="col-form-label">Additive: </label>
                        <div class="col-auto">
                            <input type="number" class="form-control" id="modalModifierAdditive" value="0">
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label for="modalModifierCoefficient" class="col-form-label">Coefficient: </label>
                        <div class="col-auto">
                            <input type="number" class="form-control" id="modalModifierCoefficient" value="1">
                        </div>
                    </div>
                    <div class="form-group col-4">
                        <label for="modalModifierMask" class="col-form-label">Mask: </label>
                        <div class="col-auto">
                            <input type="number" class="form-control" id="modalModifierMask" value="">
                        </div>
                    </div>
                </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addToSeriesList">Add to series list</button>
                <button hidden type="button" class="btn btn-primary" id="modifyCurrentSeries">Modify current series</button>
            </div>
        </div>
    </div>
</div>


{% endblock content %}

{% block extrajs %}
    {{ block.super }}
    <script>

        let chart;
        let chartSeries = [];

        let csrftoken = Cookies.get('csrftoken');

        $('#navbarNav li').removeClass('active')
        $('#navbarNav li:nth-child(4)').toggleClass('active')

        $('#seriesTable button.delete-series').on('click', function (event) {
            $(event.currentTarget).closest('tr').remove()
        })

        $('table tr.table-row-dropdown').on('click', function(event) {
            let next_row = $(event.currentTarget).next('tr')
            next_row.attr('hidden', !next_row.attr('hidden'))
        })

        $('.chart-details').on('click', function (event) {
            let next_row = $(event.currentTarget).closest('tr').next('tr')
            let span = $(event.currentTarget).find('span')
            if (next_row.attr('hidden')) {
                span.removeClass('fa-angle-right')
                span.toggleClass('fa-angle-down')
            } else {
                span.removeClass('fa-angle-down')
                span.toggleClass('fa-angle-right')
            }
            next_row.attr('hidden', !next_row.attr('hidden'))
        })

        $('#registerTable button.register-select').on('click', function (event) {
            let button = $(event.currentTarget)
            let text = button.attr('data-devicename') + '-' + button.attr('data-registername')
            let textInput = $('#modalRegisterName')
            textInput.attr('data-deviceid', button.attr('data-deviceid'))
            textInput.attr('data-registerid', button.attr('data-registerid'))
            textInput.attr('value', text)
            textInput = $('#modalSeriesName')
            textInput.val('')
        })

        $('#chooseRegister').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget)
            let type = button.data('modaltype')
            let modal = $(this)
            if (type === 'add') {
                modal.find('.modal-title').text('Register choice')
                modal.find('#modalRegisterName').attr({'value': '', 'data-deviceid': null, 'data-registerid': null})
                modal.find('#modalSeriesName').val('')
                modal.find('#modalModifierAdditive').val(0)
                modal.find('#modalModifierCoefficient').val(1)
                modal.find('#modalModifierMask').val('')
                modal.find('#addToSeriesList').attr('hidden', false)
                modal.find('#modifyCurrentSeries').attr('hidden', true)
            } else {
                let mask = null
                if (button.closest('tr').attr('data-mask') === 0 || button.closest('tr').attr('data-mask')) {
                    mask = button.closest('tr').attr('data-mask')
                }
                modal.find('.modal-title').text(button.closest('tr').attr('data-seriesname'))
                modal.find('#modalRegisterName').attr({'value': button.closest('tr').attr('data-registername'),
                    'data-deviceid': button.closest('tr').attr('data-deviceid'),
                    'data-registerid': button.closest('tr').attr('data-registerid')})
                if (button.closest('tr').attr('data-seriesname') ===
                    (button.closest('tr').attr('data-registername') + ' [' +
                        button.closest('tr').attr('data-additive') + ';' +
                        button.closest('tr').attr('data-coefficient') + ';' +
                        mask + ']')) {
                    modal.find('#modalSeriesName').val('')
                } else {
                    modal.find('#modalSeriesName').val(button.closest('tr').attr('data-seriesname'))
                }
                modal.find('#modalModifierAdditive').val(button.closest('tr').attr('data-additive'))
                modal.find('#modalModifierCoefficient').val(button.closest('tr').attr('data-coefficient'))
                modal.find('#modalModifierMask').val(mask)
                modal.find('#addToSeriesList').attr('hidden', true)
                modal.find('#modifyCurrentSeries').attr('hidden', false)
                modal.find('#modifyCurrentSeries').attr('data-index', button.closest('tr').index())
            }
        })

        function addToSeriesList(index) {
            let registerInput = $('#modalRegisterName')
            let registerName = registerInput.val()
            if (!registerName || registerName.length === 0) {
                return
            }
            let registerId = registerInput.attr('data-registerid')
            let deviceId = registerInput.attr('data-deviceid')
            let seriesName = $('#modalSeriesName').val()
            let additive = $('#modalModifierAdditive').val()
            if (!additive) {
                additive = 0
            }
            let coefficient = $('#modalModifierCoefficient').val()
            if (!coefficient) {
                coefficient = 1
            }
            let mask = $('#modalModifierMask').val()
            if (!mask) {
                mask = null
            }
            if (!seriesName || seriesName.length === 0) {
                seriesName = registerName + ' ' + '[' + additive + ';' + coefficient + ';' + mask + ']'
            }

            let copy = undefined
            if (index === 0) {
                let tr = $('#seriesTable tbody tr[hidden]')[0]
                if (tr) {
                    copy = $(tr).clone(true)
                }

            } else {
                copy = $('#seriesTable tbody tr')[index]
            }

            if (copy) {
                if (index === 0) {
                    copy.appendTo('#seriesTable tbody')
                }
                $(copy).attr("hidden", false)
                $(copy).attr('data-deviceid', deviceId)
                $(copy).attr('data-registerid', registerId)
                $(copy).attr('data-seriesname', seriesName)
                $(copy).attr('data-registername', registerName)
                $(copy).attr('data-additive', additive)
                $(copy).attr('data-coefficient', coefficient)
                $(copy).attr('data-mask', mask)
                let td = $(copy).find('td')
                $(td[0]).text(seriesName)
                $(td[1]).text(registerName)
                $(td[2]).text('[' + additive + ';' + coefficient + ';' + mask + ']')
            }
        }

        $('#addToSeriesList').on('click', function () {
            addToSeriesList(0)
        })

        $('#modifyCurrentSeries').on('click', function (event) {
            let index = $(event.currentTarget).attr('data-index')
            addToSeriesList(index)
        })

        $('#preparedChartsTable button.chart-select').on('click', function (event) {
            let buttons = $(event.currentTarget).closest('tr').next('tr').find('tbody tr button')
            buttons.each(function (index) {
                addSeriesFromPrepared($(this))
            })
        })

        $('#preparedChartsTable button.series-select').on('click', function (event) {
            addSeriesFromPrepared($(event.currentTarget))
        })

        function addSeriesFromPrepared(element) {
            let button = element
            let seriesName = button.attr('data-seriesname')
            let seriesId = button.attr('data-seriesid')
            let registerId = button.attr('data-registerid')
            let deviceId = button.attr('data-deviceid')
            let registerName = button.attr('data-register')
            let additive = button.attr('data-additive')
            let coefficient = button.attr('data-coefficient')
            let mask = button.attr('date-mask')
            if (!mask) {
                mask = null
            }

            if (!seriesName || seriesName.length === 0) {
                seriesName = registerName + ' ' + '[' + additive + ';' + coefficient + ';' + mask + ']'
            }

            let tr = $('#seriesTable tbody tr[hidden]')[0]
            if (tr) {
                let copy = $(tr).clone(true)
                copy.attr("hidden", false)
                copy.attr('data-deviceid', deviceId)
                copy.attr('data-seriesid', seriesId)
                copy.attr('data-registerid', registerId)
                copy.attr('data-seriesname', seriesName)
                copy.attr('data-registername', registerName)
                copy.attr('data-additive', additive)
                copy.attr('data-coefficient', coefficient)
                copy.attr('data-mask', mask)
                let td = $(copy).find('td')
                $(td[0]).text(seriesName)
                $(td[1]).text(registerName)
                $(td[2]).text('[' + additive + ';' + coefficient + ';' + mask + ']')
                copy.appendTo('#seriesTable tbody')
            }
        }


        $('#headingRefreshData button').on('click', refreshData)

        function refreshData() {
            let url = '{% url 'devicedata:filter_data_modified' %}'

            let series = $('#seriesTable tbody tr:not([hidden])').map(function (i, el) {
                return {'device_id': $(el).attr('data-deviceid'),
                    'register_id': $(el).attr('data-registerid'),
                    'series_name': $(el).attr('data-seriesname'),
                    'additive': $(el).attr('data-additive'),
                    'coefficient': $(el).attr('data-coefficient'),
                    'mask': $(el).attr('data-mask') ? $(el).attr('data-mask'): undefined}
            }).get()

            let time_from = $('#filterFrom').val()
            let time_to = $('#filterTo').val()
            /* interval in minutes */
            let filter_number = $('#filterIntervalNumber').val()
            if (!filter_number) {
                filter_number = 0
            }
            let interval = filter_number * $('#filterIntervalUnits option:selected').attr('value')

            $.post(url, {series: JSON.stringify(series), time_from: time_from, time_to: time_to, interval: interval, csrfmiddlewaretoken: csrftoken}, function (data) {
                $('#dataTable div').remove()
                chartSeries = []
                if (data['data'] && data['data'].length > 0) {
                    data['data'].forEach((element) => {
                        if (element['data_points'] && element['data_points'].length > 1) {
                            let div = document.createElement("div")
                            let html_text = "<br>\n" +
                                "                <h5>" + element['series_name'] + " data</h5>\n" +
                                "            <div class=\"table-responsive\"\n>" +
                                "                <table class=\"table table-sm\">\n" +
                                "                    <thead>\n" +
                                "                        <tr>\n"
                            for (let i = -1; i < element['time_points'].length; i++) {
                                if (i === -1) {
                                    html_text += "<th scope=\"col\">DATETIME_POINT</th>\n"
                                    html_text += "<th scope=\"col\">" + element['series_name'] + "</th>\n"
                                } else {
                                    html_text += "<tr>" +
                                        "<th>" + element['time_points'][i].replace('T', ' ') + "</th>\n"
                                    html_text += "<td>" + element['data_points'][i] + "</td>\n"
                                    html_text += "</tr>\n"
                                }
                                if (i === -1) {
                                    html_text += "                        </tr>\n" +
                                        "                    </thead>\n" +
                                        "                    <tbody>\n"
                                }
                            }
                            html_text += "                    </tbody>\n" +
                                "                </table>\n" +
                                "            </div>\n"
                            div.innerHTML = html_text
                            $('#dataTable').append(div)

                            let series = {}
                            series['name'] = element['series_name']
                            series['tooltip'] = {valueDecimals: 2}
                            series['data'] = []
                            for (let i = 0; i < element['time_points'].length; i++) {
                                let date = Date.parse(element['time_points'][i] + "+00:00")
                                series['data'].push([date, element['data_points'][i]])
                            }
                            chartSeries.push(series)
                        }
                    })
                }
                Highcharts.stockChart('graphContainer', {
                    rangeSelector: {
                        selected: 1
                    },
                    title: {
                        text: 'Devices data'
                    },
                    legend: {
                        enabled: true
                    },
                    series: chartSeries
                });
            })
        }

    </script>
{% endblock extrajs %}