.page-title-holder {
    border-bottom: 1px solid #bbb;
}

.page-title {
    margin: 16px 0;
    font-size: 1.75em;
    font-weight: 600;
    color: #131313;
}

.page-title .badge {
    background-color: #ffdfa1;
    color: #e67c03;
}

.page-title-controls {
    margin-left: auto;
}

.objects-list {
    margin: 5px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.objects-list .objects-row {
    align-items: center;
    padding: 10px 0;
}

.objects-list>li {
    margin: 0 16px;
    border-bottom: 1px solid #ddd;
}

.objects-list .object-details {
    min-width: 0;
    line-height: 16px;
}

.objects-list .object-details .flex-wrapper {
    min-width: 0;
    flex: 1 1 25%;
}

.objects-list .object-title {

}

.objects-list .object-description p {
    margin: 0.2rem 0;
}

.objects-list .objects-list-controls a {
    margin: 4px;
}

.detail-form-group {
    margin: 20px 20px;
}

.detail-additional-list>li {
    margin: 0 16px;
    border-top: 1px solid #ddd;
    line-height: 16px;
}

.detail-additional-list-title {
    border-bottom: 1px solid #ddd;
}

#accordionFilter .filter-buttons .btn, #accordionScheme .filter-buttons .btn {
    margin: 0 10px;
}

#accordionFilter .card-header button, #accordionScheme .card-header button {
    font-size: 0.7em;
    font-weight: 400;
}

#headingRefreshData button{
    text-align: center !important;
}

#dataHolder {
    margin-top: 30px;
}

#dataTable div.table-responsive {
    width: auto;
    height: 500px;
    overflow: auto;
}

.scheme-container {
    position: relative;
    width: 1000px;
    height: 600px;
    display: block;
    margin: 20px 10px;
    border: 2px solid #e67c03;
}

.scheme-icon {
    position: absolute;
    align-items: center;
    width: 45px;
    height: 45px;
}

.scheme-icon img.icon-neutral:hover, .scheme-icon img.icon-neutral.icon-selected {
    border-width: 0;
    box-shadow: 0 0 0 2px rgba(100, 100, 100, 0.7),
        0 0 0 3px rgba(100, 100, 100, 0.5),
        0 0 0 5px rgba(100, 100, 100, 0.2),
        0 0 0 7px rgba(100, 100, 100, 0.1);
}

.scheme-icon img.icon-active:hover, .scheme-icon img.icon-active.icon-selected {
    border-width: 0;
    box-shadow: 0 0 0 2px rgba(40, 167, 69, 0.7),
        0 0 0 3px rgba(40, 167, 69, 0.5),
        0 0 0 5px rgba(40, 167, 69, 0.2),
        0 0 0 7px rgba(40, 167, 69, 0.1);
}

.scheme-icon img.icon-error:hover, .scheme-icon img.icon-error.icon-selected {
    border-width: 0;
    box-shadow: 0 0 0 2px rgba(220, 53, 69, 0.7),
        0 0 0 3px rgba(220, 53, 69, 0.5),
        0 0 0 5px rgba(220, 53, 69, 0.2),
        0 0 0 7px rgba(220, 53, 69, 0.1);
}

.scheme-icon img {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 45px;
    height: 45px;
    border-radius: 5px;
}

.scheme-icon img.icon-neutral {
    border: 3px solid rgba(100, 100, 100, 0.7);
}

.scheme-icon img.icon-active {
    border: 3px solid rgba(40, 167, 69, 0.7);
}

.scheme-icon img.icon-error {
    border: 3px solid rgba(220, 53, 69, 0.7);
}

.scheme-icon .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(50, 50, 50, 0.8);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 110%;

    /* Fade in tooltip - takes 1 second to go from 0% to 100% opac: */
  opacity: 0;
  transition: opacity 1s;
}

.scheme-icon .tooltiptext::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent rgba(50, 50, 50, 0.8) transparent transparent;
}

.scheme-icon:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

#errors-list-container li.object-fail {
    border: 2px dotted rgba(220, 53, 69, 0.9);
    background-color: rgba(220, 53, 69, 0.2);
}