{% extends "base_site.html" %}
{% block content %}

<div class="page-title-holder d-flex align-items-center">
    <h1 class="page-title">Ports <span class="badge badge-light">{{ ports_list|length }}</span></h1>

    <div class="page-title-controls">
        <a class="btn btn-success" href="{% url 'ports:port_detail_new' %}">New port</a>
    </div>
</div>

<div >
{% if ports_list %}
    <ul class="objects-list">
    {% for port in ports_list %}
        <li class="objects-row d-flex">
            <div class="object-details d-sm-flex flex-sm-fill align-items-center justify-content-between">
                <div class="d-flex">
                    <div class="d-flex align-items-center object-title">
                        <a href="{% url 'ports:port_detail' port.id %}">{{ port.address }}</a>
                    </div>
                </div>
                <div class="object-description d-flex flex-sm-column align-items-center align-items-sm-start flex-wrap">
                    <p dir="auto"> Type / speed: {{ port.type }} / {{ port.speed }}</p>
                    <p dir="auto">Comment: {{ port.comment }}</p>
                </div>
                <div class="d-flex align-items-center align-items-sm-end flex-shrink-0 text-secondary objects-list-controls">
                    <a class="btn btn-info" href="{% url 'ports:port_detail' port.id %}" title="Edit"><i class="fas fa-edit"></i></a>
                    <a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="{{ port.id }}" data-name="{{ port.address }}" title="Delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete object alert</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>You are going to delete</p>
            <p class="modal-body-detail"></p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-secondary" data-dismiss="modal">Cancel</a>
            <a class="btn btn-primary confirm-delete" href="">Delete</a>
        </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#navbarNav li').removeClass('active')
        $('#navbarNav li:nth-child(2)').toggleClass('active')

        $('#deleteModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget) // Button that triggered the modal
            let object_name = button.data('name') // Extract info from data-* attributes
            let object_id = button.data('id') // Extract info from data-* attributes
            let modal = $(this)
            modal.find('p.modal-body-detail').text(object_name)
            modal.find('a.confirm-delete').attr("href", "{% url 'ports:ports' %}" + object_id + "/delete/")
        })
    </script>
{% endblock extrajs %}
