<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
    {% block title %}
        Modbus logger
    {% endblock title %}
    </title>

    {% block extrahead %}
    {% endblock extrahead %}

    {% load static %}
    <script type="text/javascript" src="{% static 'js/jquery-3.5.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/js.cookie.js' %}"></script>
    <link rel="stylesheet" href="{% static 'bootstrap-4.6.0/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'fa/css/all.css' %}">
    <link rel="icon" href="{% static 'image/favicon.png' %}">
    <link rel="shortcut icon" href="{% static 'image/favicon.ico' %}">
    <script type="text/javascript" src="{% static 'bootstrap-4.6.0/js/bootstrap.js' %}"></script>
    {% block extrastyle %}
    {% endblock extrastyle %}

    {% block header %}
        <nav class="navbar sticky-top navbar-expand-sm navbar-dark" style="background-color: #ffa04d;">
            <a class="navbar-brand h1" href="/">
                <img src="{% static 'image/logo.svg' %}" alt="Логотип" width="30" height="30" class="d-inline-block align-top">
                DLeader
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link h5" href="/">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link h5" href="{% url 'ports:ports' %}">Ports</a>
                    </li>
                    <li class="nav-item h5 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDevicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Devices
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDevicesDropdown">
                            <a class="dropdown-item" href="{% url 'devices:device_types' %}">Devices types</a>
                            <a class="dropdown-item" href="{% url 'devices:devices' %}">Devices</a>
                        </div>
                    </li>
                    <li class="nav-item h5 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDataDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Data
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDataDropdown">
                            <a class="dropdown-item" href="{% url 'devicedata:charts_list' %}">Charts</a>
                            <a class="dropdown-item" href="{% url 'devicedata:view_data' %}">Data old</a>
                            <a class="dropdown-item" href="{% url 'devicedata:view_data_modified' %}">Data modified</a>
                        </div>
                    </li>
                    <li class="nav-item h5 dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarTasksDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Tasks
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarTasksDropdown">
                            <a class="dropdown-item" href="{% url 'tasks:read_tasks' %}">Read tasks</a>
                            <a class="dropdown-item" href="{% url 'tasks:write_tasks' %}">Write tasks</a>
                        </div>
                    </li>
                </ul>
            </div>
        </nav>
    {% endblock header %}
</head>
<body>
    <div class="container-fluid">
        <div class="">
        {% block bodyheader %}
        {% endblock bodyheader %}

        {% block sidebar %}
        {% endblock sidebar %}

        {% block content %}
        {% endblock content %}
        </div>
    </div>
</body>
{% block footer %}
{% endblock footer %}

{% block extrajs %}
{% endblock extrajs %}

</html>