{% extends "base_site.html" %}
{% load static %}
{% block content %}
<div class="page-title-holder d-flex align-items-center">
    <h1 class="page-title">Scheme of devices location</h1>
</div>

<div class="accordion" id="accordionScheme">
    <div class="card">
        <div class="card-header" id="headingScheme">
            <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left collapsed" type="button" data-toggle="collapse" data-target="#collapseLocations" aria-expanded="true" aria-controls="collapseLocations">
                    <i class="fas fa-filter"></i> Devices location
                </button>
            </h2>
        </div>

        <div id="collapseLocations" class="collapse" aria-labelledby="headingScheme" data-parent="#accordionScheme">
            <div class="card-body d-flex flex-row align-items-center">
                <div class="d-flex flex-column flex-fill">
                    <form id="deviceFilter" action="{% url 'filter_devices_scheme' %}" method="Post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="deviceFilterInput" class="col-form-label">Device name like</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="deviceFilterInput">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deviceDTypeFilterInput" class="col-form-label">Device type like</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="deviceDTypeFilterInput">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="deviceCommentFilterInput" class="col-form-label">Device comment like</label>
                            <div class="col-10">
                                <input type="text" class="form-control" id="deviceCommentFilterInput">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" id="refreshDevicesBtn" class="btn btn-lg btn-info"><i class="fas fa-redo-alt"></i> Refresh devices list</button>
                        </div>

                        <div class="form-group">
                            <button type="button" id="saveDevicesBtn" class="btn btn-lg btn-success"><i class="fas fa-save"></i> Save devices location</button>
                        </div>
                    </form>
                </div>
                <div class="d-flex flex-fill justify-content-between" id="devicesAndChosen">
                    <div class="d-flex flex-column flex-fill">
                        <label for="deviceFilterDevices" class="col-form-label">Devices</label>
                        <div>
                            <select class="custom-select" id="deviceFilterDevices" size="12">
                                {% for device in devices %}
                                    <option value="{{ device.id }}" data-devicetype="{{ device.type.name }}" >{{ device.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="d-flex flex-column filter-buttons">
                        <br>
                        <br>
                        <button type="button" class="btn add-device btn-lg btn-outline-secondary"><i class="fas fa-long-arrow-alt-right"></i></button>
                        <br>
                        <br>
                        <br>
                        <button type="button" class="btn remove-device btn-lg btn-outline-secondary"><i class="fas fa-long-arrow-alt-left"></i></button>
                    </div>
                    <div class="d-flex flex-column flex-fill">
                        <label for="deviceFilterChosen" class="col-form-label">Localized</label>
                        <div>
                            <select class="custom-select" id="deviceFilterChosen" size="12">
                                {% if locations %}
                                    {% for location in locations %}
                                        <option value="{{ location.device_id }}" data-devicetype="{{ location.device.type.name }}" data-coordX="{{ location.coordinateX }}" data-coordY="{{ location.coordinateY }}">{{ location }}</option>
                                    {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="scheme-container" id="schemeContainer" style="background-image: url('{% static 'image/homeback.png' %}');">
    {% if locations %}
    {% for location in locations %}
    <div class="scheme-icon" style="top:{{ location.coordinateY }}px; left:{{ location.coordinateX }}px; z-index: {{ location.device_id }};">
        <img class="icon-neutral" src="{% static 'image' %}/{{ location.device.type.name }}.png" data-deviceid="{{ location.device_id }}" alt="icon">
        <span class="tooltiptext">{{ location.device.name }}</span>
    </div>
    {% endfor %}
    {% endif %}
</div>

<div class="page-title-holder d-flex align-items-center">
    <h1 class="page-title">Last errors</h1>
</div>

<div id="errors-list-container">
    <ul class="objects-list">

    </ul>
</div>

<div class="modal" id="saveLocationsModal" tabindex="-1" aria-labelledby="locationsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content text-danger">
            <div class="modal-header">
                <h5 class="modal-title" id="locationsModalLabel">Error...</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Error while saving device locations.</p>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript">
        let csrftoken = Cookies.get('csrftoken');

        $('#devicesAndChosen button.add-device').on('click', function () {
            let changed = false
            let id = 0
            let device_type = ''
            let device_name = ''
            $('#deviceFilterDevices option:selected').each(function () {
                id = $(this).attr('value')
                device_type = $(this).attr('data-devicetype')
                device_name = $(this).text()
                if ($('#deviceFilterChosen option[value=' + id + ']').length < 1) {
                    let copy = $(this).clone()
                    copy.html(copy.text() + " (X0, Y0)")
                    copy.attr('data-coordX', 0)
                    copy.attr('data-coordY', 0)
                    copy.appendTo('#deviceFilterChosen')
                    changed = true
                }
            })
            if (changed) {
                let div = document.createElement("div")
                div.className = "scheme-icon"
                div.setAttribute("style", "top: 0; left: 0; z-index: " + id + ";" )
                div.innerHTML = "<img class=\"icon-neutral\" src=\"{% static 'image' %}/" + device_type + ".png\" data-deviceid=\"" + id + "\" alt=\"icon\"> " +
                    "<span class=\"tooltiptext\">" + device_name + "</span>"
                $('#schemeContainer').append(div)
            }
        })

        $('#devicesAndChosen button.remove-device').on('click', function () {
            let changed = false
            let id = 0
            $('#deviceFilterChosen option:selected').each(function () {
                id = $(this).attr('value')
                $(this).remove()
                changed = true
            })
            if (changed) {
                $('#schemeContainer div.scheme-icon').each(function() {
                    let img = $(this).find('img')
                    if (id === $(img).attr('data-deviceid')) {
                        $(this).remove()
                    }
                })
            }
        })

        $('#refreshDevicesBtn').on('click', function () {
            let form = $('#deviceFilter')
            let device_name = form.find('#deviceFilterInput').val()
            let device_type = form.find('#deviceDTypeFilterInput').val()
            let device_comment = form.find('#deviceCommentFilterInput').val()
            let url = form.attr('action')
            $.post(url, {name: device_name, type: device_type, comment: device_comment, csrfmiddlewaretoken: csrftoken}, function (data) {
                $('#deviceFilterDevices option').remove()
                if (data['devices'] && data['devices'].length > 0) {
                    data['devices'].forEach((element) => {
                        let option = document.createElement("option")
                        option.innerHTML = element['name']
                        option.setAttribute('value', element['id'])
                        option.setAttribute('data-devicetype', element['type'])
                        $('#deviceFilterDevices').append(option)
                    })
                }
            })
        })

        $('#saveDevicesBtn').on('click', function () {
            let devices = $('#deviceFilterChosen option').map(function (i, el) {  return {'id': parseInt($(el).attr('value')), 'x': parseInt($(el).attr('data-coordx')), 'y': parseInt($(el).attr('data-coordy'))}}).get()
            let url = '{% url 'update_devices_scheme' %}'
            $.post(url, {devices: JSON.stringify(devices), csrfmiddlewaretoken: csrftoken}, function (data) {
                if (data['success']) {
                    $('.collapse').collapse('hide')
                } else {
                    $('#saveLocationsModal .modal-body p').text(data['error'])
                    $('#saveLocationsModal').modal('show')
                }
            })
        })

        $('#deviceFilterChosen').on('change', function () {
            let option = $(this).find('option:selected')
            if ($('#collapseLocations').hasClass('show')) {
                $('#schemeContainer img').each(function() {
                    let id = $(this).attr('data-deviceid')
                    if (id === $(option).attr('value')) {
                        $(this).addClass("icon-selected")
                    } else {
                        $(this).removeClass("icon-selected")
                    }
                })
            }
        })

        $('#accordionScheme').on('hide.bs.collapse', function() {
            $('#schemeContainer img').each(function() {
                $(this).removeClass("icon-selected")
            })
        }).on('show.bs.collapse', function() {
            let option = $('#deviceFilterChosen').find('option:selected')
            if (option.length > 0) {
                $('#schemeContainer img').each(function() {
                    let id = $(this).attr('data-deviceid')
                    if (id === $(option).attr('value')) {
                        $(this).addClass("icon-selected")
                    }
                })
            }
        })

        $('#schemeContainer').on('click', function(event) {
            if ($('#collapseLocations').hasClass('show')) {
                let option = $('#deviceFilterChosen').find('option:selected')
                if (option.length > 0) {
                    let offset = $(this).offset()
                    let x = event.pageX - offset.left
                    let y = event.pageY - offset.top
                    $('#schemeContainer div.scheme-icon').each(function() {
                        let img = $(this).find('img')
                        if ($(option).attr('value') === $(img).attr('data-deviceid')) {
                            $(this).attr("style", "top: " + y + "px; left: " + x + "px;")
                            $(option).attr('data-coordy', y)
                            $(option).attr('data-coordx', x)
                            let value = $(option).text().split(' ')[0]
                            $(option).text(value + " (X" + x + ", Y" + y + ")")
                        }
                    })
                }
            }
        })

        function updateErrorsAndStatus() {
            let devices = $('#deviceFilterChosen option').map(function (i, el) {  return $(el).attr('value')}).get()
            let url = '{% url 'errors_list' %}'
            if (devices.length > 0) {
                $.post(url, {devices: devices, csrfmiddlewaretoken: csrftoken}, function (data) {
                    if (data['success']) {
                        if (data['errors'] && data['errors'].length > 0) {
                            $('#errors-list-container .objects-list li').remove()
                            data['errors'].forEach((element) => {
                                let li = document.createElement("li")
                                if (element['fail']) {
                                    $(li).addClass("objects-row d-flex object-fail")
                                } else {
                                    $(li).addClass("objects-row d-flex")
                                }
                                li.innerHTML = "<div class=\"object-details d-sm-flex flex-sm-fill align-items-center justify-content-left\">\n" +
                                    "                <div class=\"d-flex\">\n" +
                                    "                    <div class=\"d-flex flex-sm-column align-items-center object-title\">\n" +
                                    "                        <p dir=\"auto\"><strong>Start:</strong> <span data-type=\"start\">" + element['start'].replace('T', ' ') + "</span></p>\n" +
                                    "                        <p dir=\"auto\"><strong>Stop:</strong> <span data-type=\"stop\">" + element['stop'].replace('T', ' ') + "</span></p>\n" +
                                    "                    </div>\n" +
                                    "                </div>\n" +
                                    "                <div class=\"d-flex align-items-center object-title\" style=\"margin: 0 15px;\">\n" +
                                    "                    <p dir=\"auto\"><strong>" + element['name'] + "</strong></p>\n" +
                                    "                </div>\n" +
                                    "                <div class=\"object-description d-flex flex-sm-column align-items-center align-items-sm-start flex-wrap\">\n" +
                                    "                    <p dir=\"auto\"><strong>Short message:</strong> " + element['short'] + "</p>\n" +
                                    "                </div>\n" +
                                    "                <div class=\"d-flex align-items-center align-items-sm-end flex-shrink-0 text-secondary objects-list-controls\">\n" +
                                    "                    <p dir=\"auto\">" + element['long'] + "</p>\n" +
                                    "                </div>\n" +
                                    "            </div>"
                                $('#errors-list-container .objects-list').append(li)
                            })
                        }

                        if (data['status'] && data['status'].length > 0) {
                            data['status'].forEach((element) => {
                                let img = $('#schemeContainer img[data-deviceid=' + element['id'] + ']')
                                $(img).removeClass('icon-neutral')
                                $(img).removeClass('icon-active')
                                $(img).removeClass('icon-error')
                                if (!element['enabled']) {
                                    $(img).addClass('icon-neutral')
                                } else {
                                    if (element['fail']) {
                                        $(img).addClass('icon-error')
                                    } else {
                                        $(img).addClass('icon-active')
                                    }
                                }
                            })
                        }
                    } else {
                        $('#saveLocationsModal .modal-body p').text(data['fail'])
                        $('#saveLocationsModal').modal('show')
                    }
                })
            }
            setTimeout(updateErrorsAndStatus, 10000);
        }

        setTimeout(updateErrorsAndStatus, 10000);

    </script>
{% endblock extrajs %}
