{% extends "base_site.html" %}
{% block content %}

<div class="page-title-holder d-flex align-items-center">
    <h1 class="page-title">
        <a href="{% url 'devices:device_type_detail' register.device_type.id %}">{{ register.device_type.name }} </a>
        {% if register.id %}
            {{ register_title }}
        {% else %}
            New register
        {% endif %}
    </h1>
</div>
<div class="d-flex align-items-start justify-content-between">
    <div class="d-flex col-8">
        <form class="detail-form col-10" action="" method="post">
        {% csrf_token %}
            {% if form.errors %}
            {% for error in form.non_field_errors %}
                <br>
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
            {% endif %}
            {% for field in form %}
                {% if field.errors %}
                    <div class="form-group detail-form-group">
                        <label class="">{{ field.label }}</label>
                        <div class="detail-form-control">{{ field }}</div>
                        {% for error in field.errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ error }}
                            </div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="form-group detail-form-group">
                        <label class="form-text">{{ field.label }}</label>
                        <div class="detail-form-control">{{ field }}</div>
                        {% if field.help_text %}
                            <p class="form-text"><small>{{ field.help_text }}</small></p>
                        {% endif %}
                    </div>
                {% endif %}
            {% endfor %}
            <div class="form-group col-8 detail-form-group">
                <button type="submit" class="btn btn-primary" >Save register</button>
                <a class="btn btn-secondary" href="{% url 'devices:device_type_registers' register.device_type.id %}">Cancel</a>
            </div>
        </form>
    </div>
{##}
{#    <div class="d-flex col-md-4 col-4 align-items-start flex-column">#}
{#        <div class="detail-additional-list-title">#}
{#            <h2 class="page-title">#}
{#                <a href="#{{ device.readtask_set.first.id }}">#}
{#                    Read Task#}
{#                </a>#}
{#            </h2>#}
{#        </div>#}
{#        <div class="detail-additional-list-title">#}
{#            <h2 class="page-title">#}
{#                <a data-toggle="collapse" href="#collapseDetailList" role="button" aria-expanded="false" aria-controls="collapseDetailList">#}
{#                    Write tasks <span class="badge badge-light">{{ device.writetask_set.all|length }}</span>#}
{#                </a>#}
{#            </h2>#}
{#        </div>#}
{#        <div class="">#}
{#            <div class="collapse" id="collapseDetailList">#}
{#                <ul class="detail-additional-list">#}
{#                {% for task in device.writetask_set.all %}#}
{#                    <li class="">#}
{#                        <div>#}
{#                            <h5>#}
{#                                <a href="#{{ task.id }}">{{ task.register.name }} / {{ task.value }}</a>#}
{#                            </h5>#}
{#                        </div>#}
{#                    </li>#}
{#                {% endfor %}#}
{#                </ul>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{##}
</div>
{% endblock content %}

{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#navbarNav li').removeClass('active')
        $('#navbarNav li:nth-child(3)').toggleClass('active')

        let elements = document.querySelectorAll('div.detail-form-control > :first-child')
        elements.forEach(el => el.classList.add("form-control"))
    </script>
{% endblock extrajs %}