{% extends "base_site.html" %}
{% block content %}

<div class="page-title-holder d-flex align-items-center">
    <h1 class="page-title">Write tasks <span class="badge badge-light">{{ tasks_list|length }}</span></h1>

    <div class="page-title-controls">
        <a class="btn btn-success" href="{% url 'tasks:write_task_detail_new' %}">New write task</a>
    </div>
</div>

<div >
{% if tasks_list %}
    <ul class="objects-list">
    {% for task in tasks_list %}
        <li class="objects-row d-flex">
            <div class="object-details d-sm-flex flex-sm-fill align-items-center justify-content-between">
                <div class="d-flex">
                    <div class="d-flex align-items-center object-title">
                        <a href="{% url 'tasks:write_task_detail' task.id %}">{{ task.device.name }} task</a>
                    </div>
                </div>
                <div class="object-description d-flex flex-sm-column align-items-center align-items-sm-start flex-wrap">
                    <p>Register: <a href="{% url 'devices:device_type_register_detail' task.device.type.id task.register.id %}">{{ task.register }}</a></p>
                    <p>Value: {{ task.value }}</p>
                </div>
                <div class="object-description d-flex flex-sm-column align-items-center align-items-sm-start flex-wrap">
                    <a>
                        {% if task.status %}
                        <button type="button" class="task-status btn btn-outline-primary disabled" data-id="{{ task.id }}" title="Status">
                            {{ task.status_str }}
                        </button>
                        {% else %}
                        <button type="button" class="task-status btn btn-primary" data-id="{{ task.id }}" title="Status">
                            {{ task.status_str }}
                        </button>
                        {% endif %}
                    </a>
                </div>
                <div class="object-description d-flex flex-sm-column align-items-center align-items-sm-start flex-wrap">
                    <p dir="auto">Modified: {{ task.changed_datetime }}</p>
                </div>
                <div class="d-flex align-items-center align-items-sm-end flex-shrink-0 text-secondary objects-list-controls">
                    <a class="btn btn-info" href="{% url 'tasks:write_task_detail' task.id %}" title="Edit"><i class="fas fa-edit"></i></a>
                    <a>
                        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal" data-id="{{ task.id }}" data-name="{{ task.device.name }} task" title="Delete">
                            <i class="fas fa-trash-alt"></i>
                        </button>
                    </a>
                </div>
            </div>
        </li>
    {% endfor %}
    </ul>
{% endif %}
</div>

<!-- Modal -->
<div class="modal fade" id="deleteModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="deleteModalLabel">Delete object alert</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p>You are going to delete</p>
            <p class="modal-body-detail"></p>
        </div>
        <div class="modal-footer">
            <a class="btn btn-secondary" data-dismiss="modal">Cancel</a>
            <a class="btn btn-primary confirm-delete" href="">Delete</a>
        </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block extrajs %}
    {{ block.super }}
    <script type="text/javascript">
        $('#navbarNav li').removeClass('active')
        $('#navbarNav li:nth-child(5)').toggleClass('active')

        $('#deleteModal').on('show.bs.modal', function (event) {
            let button = $(event.relatedTarget) // Button that triggered the modal
            let object_name = button.data('name') // Extract info from data-* attributes
            let object_id = button.data('id') // Extract info from data-* attributes
            let modal = $(this)
            modal.find('p.modal-body-detail').text(object_name)
            modal.find('a.confirm-delete').attr("href", "{% url 'tasks:write_tasks' %}" + object_id + "/delete/")
        })


        $('button.task-status').on('click', function(event) {
            let button = $(event.currentTarget)
            let object_id = button.data('id')
            $.getJSON("{% url 'tasks:write_tasks' %}" + object_id + "/toggle/", function(data) {
                if (data['changed']) {
                    button.text(data['task_status'])
                    button.toggleClass('btn-outline-primary')
                    button.toggleClass('btn-primary')
                    button.toggleClass('disabled')
                }
            })
        })
    </script>
{% endblock extrajs %}
